<form action="" class="card offset-md-1 col-md-8">

  <div class="form-group col-md-12 row">
    <div class="col-md-12">
      <label for=""> Numero da Matricula</label>
      <input type="matricula" class="form-control" name="matricula" [(ngModel)]="user.matricula" placeholder="Matrícula">
    </div>
  </div>

  <div class="form-group col-md-12 row">
    <div class="col-md-12">
      <label for=""> Nome </label>
      <input type="nome" class="form-control" name="nome" [(ngModel)]="user.login" placeholder="Nome">
    </div>
  </div>

  <div class="form-group col-md-12 row">
    <div class="col-md-12">
      <label>Tipo de usuário:</label>
      <select name="tpousuario" class="custom-select" [(ngModel)]="user.tipoUsuario">
        <option [value]="enum.coordenador">Coordernador</option>
        <option [value]="enum.administrador">Administrador</option>
        <option [value]="enum.usuario">Usuário</option>
      </select>
    </div>
  </div>

  <div class="form-group col-md-12 row">
    <div class="col-md-12">
      <label for=""> Senha </label>
      <input type="password" class="form-control" name="senha" [(ngModel)]="user.senha" placeholder="Senha">
    </div>
  </div>

  <div class="form-group col-md-12 row">
    <div class="col-md-12 botoes">
      <button class="btn btn-success col-md-5" (click)="salvarUsuario()">Salvar</button>
      <input type="clear" value="Limpar" class="btn btn-danger col-md-5">
    </div>
  </div>
</form>