<form action="">

  <div class="form-group row">
    <div class="col-md-6">
      <input type="matricula" placeholder="Matrícula">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <input type="nome" placeholder="Nome">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <input type="senha" placeholder="Senha">
    </div>
  </div>

  <div class="row">
    <button class="btn btn-success">Salvar</button>
    <button class="btn btn-danger">Cancelar</button>
  </div>

</form>