<div class="row col-md-12 conteudo-nova-tarefa card">
  <select name="" class="form-control col-md-3">
    <option value="" disabled> selecione o cliente </option>
    <option value=""> Cliente 1 </option>
  </select>

  <select name="" class="form-control col-md-3">
    <option value="" disabled> selecione o projeto </option>
    <option value=""> projeto 1 </option>
  </select>

  <div class="iten form-control col-md-3">
    {{tarefa.horaInicio}}
  </div>

  <div class="iten form-control col-md-3">
    {{tarefa.horaFim}}
  </div>

  <div class="col-md-12 texto-tarefa">
    <textarea class="form-control" name="" id="" rows="2"></textarea>
  </div>

  <div class="col-md-12 botoes">
    <input type="button" class="btn btn-success col-md-2" [value]="mostarBotaoIniciar ? 'iniciar' : 'Finalizar'" (click)="marcarTempo()">
    <input type="button" class="btn btn-info col-md-2" value="Zerar Timer" (click)="zerarTimer()">
    <input type="button" class="btn btn-danger col-md-2" value="excluir" (click)="excluirTarefa()">
  </div>

</div>