<div class="row col-md-12 conteudo-nova-tarefa card">
  <select name="" class="form-control col-md-3">
    <option value="" disabled> selecione o cliente </option>
    <option value=""> Cliente 1 </option>
  </select>

  <select name="" class="form-control col-md-3">
    <option value="" disabled> selecione o projeto </option>
    <option value=""> projeto 1 </option>
  </select>

  <div class="form-control col-md-3">
    hora do inicio
  </div>

  <div class="form-control col-md-3">
    hora termino
  </div>

  <div class="col-md-12 botoes">
    <input type="button" class="btn btn-success col-md-2" value="iniciar">
    <input type="button" class="btn btn-danger col-md-2" value="excluir">
  </div>

</div>