
a{     
    text-decoration: none;
    color: black;             
}

h2{
    margin: 0;
}

.fa{
    font-size: 30px;
}

.fa:hover{
    cursor: pointer;
}

.menu{    
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;           
    background: #CCCCCC;         
    z-index: 999;      
    min-width: 140px;
}

.conteudo-menu{
    position: relative;         
    left: 0 ;      
}

.menu-itens{     
    position: absolute;
    display: flex;
    justify-content: center;    
    flex-direction: column;    
    align-items: center;
    min-height: 50px; 
    width: 100%;
    padding: 0;      
    background: #CCCCCC;             
}

.icone{
    flex: 1;    
}

.texto{
    flex: 8;
}

.item{    
    display: flex;                      
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 10px;
    font-size: 12px;            
    font-weight: 600;
    font-family: Roboto, Helvetica, sans-serif;            
}

.item:hover{   
    cursor: pointer;        
}

.item:hover{    
    color: gray;
}

.active-link{
    /* background: mediumseagreen;     */
    background: rgba(0, 0, 0, .2);         
    border-radius: 10px;
}

.nome-prog{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    align-content: center;
    text-align: center;
    height: 50px;    
    font-family: 'Baloo', cursive; 
}

@media screen and (max-width:768px){
    .menu{
        height: 50px; 
        width: 100%;       
    }

    .menu-itens{        
        top: -500px;            
    }

    .conteudo{
        margin-top: 70px;
    }

    .nome-prog{
        justify-content: space-around;
    }
    
}