
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: 500;   
    border-bottom: 1px solid black;
    padding: 5px 0;    
}

h2{
    margin: 0;
}

.fa{
    font-size: 30px;
}

.fa:hover{
    cursor: pointer;
}

.menu{    
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;           
    background: lightskyblue;     
    z-index: 999;      
}

.conteudo-menu{
    position: relative;         
    left: 0 ;
}

.menu-itens{     
    position: absolute;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    font-size: 16px;    
    min-height: 50px; 
    width: 100%;
    padding: 0;     
}

.item{    
    display: flex;        
    align-items: center;
    justify-content: center;    
    text-align: center;          
}

.item:hover{   
    cursor: pointer;        
}

.active-link, .item:hover{    
    background: mediumseagreen;
}

.nome-prog{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    align-content: center;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid black;
}

@media screen and (max-width:768px){
    .menu{
        height: 50px; 
        width: 100%;       
    }

    .menu-itens{
        background: lightskyblue; 
        top: -500px;            
    }

    .conteudo{
        margin-top: 70px;
    }

    .nome-prog{
        justify-content: space-around;
    }
    
}