a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu-itens{ 
    background: lightskyblue;
    font-size: 16px;    
    min-height: 50px;       
    padding: 0;
}

.menu{
    padding: 0;
    display: flex;
    justify-content: center;    
}

.item{    
    display: flex;        
    align-items: center;
    justify-content: center;    
    text-align: center;          
}

.item:hover{   
    cursor: pointer;        
}

.active-link, .item:hover{    
    background: mediumseagreen;
}

@media screen and (max-width:768px){
    .menu-itens{
        background: lightskyblue;      
    }
}