<div class="col-md-2 menu">
    <div class="nome-prog">
        <h2>PPonto</h2>
        <i class="fa fa-caret-square-o-down" *ngIf="!menuAberto" (click)="toogleMenu()"></i>
        <i class="fa fa-caret-square-o-up" *ngIf="menuAberto" (click)="toogleMenu()"></i>
    </div>
    <div class="conteudo-menu ">
        <div class="menu-itens " #menuItem>
            <a class="item " [routerLink]="[ 'controle-horas'] " routerLinkActive="active-link "> Controle de horas </a>
            <a class="item " [routerLink]="[ 'cadastro-cliente'] " routerLinkActive="active-link ">Cadastro de Cliente</a>
            <a class="item " [routerLink]="[ 'cadastro-funcionario'] " routerLinkActive="active-link ">Cadastro de Funcionário</a>
            <a class="item " [routerLink]="[ 'relatorio'] " routerLinkActive="active-link ">Relatórios</a>
        </div>
    </div>
</div>
<div class="offset-md-2 col-md-8 conteudo ">
    <router-outlet></router-outlet>
</div>