<div class="menu">
    <div class="menu-itens col-md-6 row offset-md-3">
        <div class="item col-md-3" (click)="goTo('home')">Home</div>
        <div class="item col-md-3" (click)="goTo('home/cadastro-cliente')">Cadastro de Cliente</div>
        <div class="item col-md-3" (click)="goTo('home/cadastro-funcionario')">Cadastro de Funcionário</div>
        <div class="item col-md-3" (click)="goTo('home/relatorio')">Relatórios</div>
    </div>
</div>
<div class="offset-md-4">
    <router-outlet></router-outlet>
</div>