<div class="row item-projeto">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Funcionario</th>
        <th scope="col">Cliente</th>
        <th scope="col">Projeto</th>
        <th scope="col">Data</th>
        <th scope="col">Tempo Trabalhado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <td>{{tarefa.usuario.login}}</td>
        <td>{{tarefa.projeto.cliente.nome}}</td>
        <td>{{tarefa.projeto.nome}}</td>
        <td>{{tarefa.data}}</td>
        <td>{{tarefa.tempoTrabalhado}}</td>
      </tr>
    </tbody>
  </table>
</div>