<form action="">
    <div class="form-group row">
        <label for="Nome" class="col-md-1 col-form-label">Nome</label>
        <div class="col-md-6">
            <input type="email" class="form-control" id="Nome" placeholder="Ex.: João">
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-md-1 col-form-label">Senha</label>
        <div class="col-md-6">
            <input type="email" class="form-control" id="password" placeholder="senha">
        </div>

    </div>
</form>